<p>
  total number of emails sent: <%= @data[:total_sent] %>
</p>

<p>
  total number of emails opened: <%= @data[:total_opened] %>
</p>

<p>
  total number of clicks: <%= @data[:total_clicks] %>
</p>

<ul>
  <% @data[:email_types].each do |type| %>
    <li>
      <strong><%= type[:name] %></strong>
      open rate <%= type.dig :rates, :open %>%
      click rate <%= type.dig :rates, :open %>%
    </li>
  <% end %>
</ul>
